.logo {
    background-color: var(--main-color);
    padding-top: 30px;
}
.logo__youcode{
    display: inline-block;
    color:rgb(194, 128, 4);
}
.logo__youcode--special{
    font-family: 'Open Sans', sans-serif;
    transform: rotate(10deg);    
}

.logo__youcode--specialOpposite{
    color:rgb(5, 4, 2);
    transform: translate(20px,-7px) rotate(190deg);
    font-family: 'Open Sans', sans-serif;   
}
.logo__youcode--moveLeft{
    transform: translate(-13px,-3px);
}
.logo__youcode--moveRight{
    transform: translate(34px,-3px) rotate(180deg);
}

.logo__header {
    margin: 0 auto;
    padding: 5px 0;
    font-size: 40px;
    transform: translate(-20px,0px)
}